h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  @extend %heading;
  overflow-wrap: normal;
}

h1,
.h1,
.display-1 {
  font-weight: $font-weight-bold;
  font-size: 3.733rem;
  line-height: 4.48rem;

  @include media-breakpoint-up(md) {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 5.333rem;
    line-height: 6.4rem;
  }
}

h2,
.h2 {
  font-weight: $font-weight-bold;
  font-size: 3.333rem;
  line-height: 4rem;

  @include media-breakpoint-up(md) {
    font-size: 3.5rem;
    line-height: 4.2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4.6rem;
    line-height: 5.6rem;
  }
}

h3,
.h3 {
  font-weight: $font-weight-normal;
  font-size: 2.8rem;
  line-height: 3.36rem;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

h4,
.h4 {
  font-size: 2.33rem;
  line-height: 2.8rem;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 3.333rem;
    line-height: 4rem;
  }
}

h5,
.h5,
h6,
.h6 {
  font-weight: $font-weight-normal;
  font-size: 1.866rem;
  line-height: 2.24rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.666rem;
    line-height: 3.2rem;
  }
}

h6,
.h6 {
  font-size: 1.4rem;
  line-height: 1.68rem;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.sub-header {
  font-size: 2.4rem;
  line-height: 3.2rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}

.subheadline {
  &-2-medium {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: $font-weight-normal;
    @include media-breakpoint-up(lg) {
      font-size: 2.6rem;
      line-height: 1.38;
    }
  }
  &-2-semibold {
    font-size: 1.8rem;
    line-height: 1.39;

    @include media-breakpoint-up(sm) {
      font-size: 2rem;
      line-height: 1.5;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.6rem;
    }
  }
  &-3 {
    font-size: 1.6rem;
    line-height: 1.25;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 1.2;
    }
  }
  &-4 {
    font-size: 1.4rem;
    line-height: 1.43;

    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
      line-height: 1.25;
    }

    &-medium {
      font-weight: $font-weight-normal;
      font-size: 1.4rem;
      line-height: 1.43;
      @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }
  }
}

.mega-link {
  font-size: 2.4rem;
  line-height: 3rem;
  @extend %heading;

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

body,
.body {
  font-size: 1.2rem;
  line-height: 2.4rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}

.eyebrow {
  &-1 {
    font-size: 1.4rem;
    line-height: 1;

    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
    }
  }
  &-2 {
    font-size: 1.2rem;
    line-height: normal;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
    }
  }
  &-3 {
    font-size: 1.6rem;
    line-height: normal;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }
  &-4 {
    font-size: 1.2rem;
    line-height: normal;

    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }
}

.quote {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: $font-weight-light;

  @include media-breakpoint-up(lg) {
    font-size: 4.6rem;
    line-height: 5.6rem;
  }
}

.button,
.btn {
  font-size: 1.8rem;
  line-height: 1.6rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.9rem;
    line-height: 1.7rem;
  }
}

.link {
  &-text {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(lg) {
      font-size: 2.4rem;
      line-height: 1.8rem;
    }
  }
}

.caption {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: $font-family-base;
  font-style: italic;
  font-weight: $font-weight-normal;

  @include media-breakpoint-up(lg) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.number-label {
  &-1 {
    font-size: 3.2rem;
    line-height: 1.25;

    @include media-breakpoint-up(lg) {
      font-size: 4.6rem;
      line-height: 1.22;
    }
  }
  &-2 {
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
